@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

aside, nav, footer, header, section {
  display: block;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Montserrat";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 1182px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.header-menu-burger {
  display: none;
}

@media (max-width: 992.98px) {
  .header-menu-burger {
    display: block;
    position: absolute;
    top: 43px;
    right: 15px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 6;
  }
  .header-menu-burger span {
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .header-menu-burger span:first-child {
    top: 0px;
  }
  .header-menu-burger span:last-child {
    top: auto;
    bottom: 0px;
  }
  .header-menu-burger.active span {
    transform: scale(0);
  }
  .header-menu-burger.active span:first-child {
    transform: rotate(-45deg);
    top: 8px;
  }
  .header-menu-burger.active span:last-child {
    transform: rotate(45deg);
    bottom: 8px;
  }
}
.header-menu {
  display: none;
}

@media (max-width: 992.98px) {
  .header-menu {
    display: block;
    position: fixed;
    overflow: auto;
    z-index: 5;
    width: 100%;
    height: 100%;
    left: -120%;
    top: 0;
    background: #ffffff;
    padding: 120px 30px 20px 20px;
    transition: all 0.3s ease 0s;
  }
  .header-menu.active {
    left: 0;
  }
  .header-menu .menu__list {
    display: block;
  }
  .header-menu .menu__list li {
    margin: 0px 0px 20px 0px;
  }
}
body {
  padding-bottom: 5000px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.header__row {
  display: flex;
  font-size: 0;
  justify-content: space-between;
  padding-top: 40px;
  align-items: center;
}
.header__logo {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  position: relative;
  z-index: 10;
}
.menu__list {
  display: flex;
  font-size: 0;
}
.menu__list li:not(:last-child) {
  margin-right: 35px;
}
.menu__link {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.main-screen {
  width: 100%;
  background-size: cover;
  height: 100vh;
  background-image: url(../image/background.png);
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  font-size: 0;
}
.main-screen:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.45);
  top: 0;
  left: 0;
}
.main-screen__wrap {
  display: flex;
  font-size: 0;
  justify-content: center;
  align-items: center;
}
.main-screen__welcome {
  position: relative;
}

.welcome {
  text-align: center;
}
.welcome__title {
  color: #ffffff;
  font-size: 48px;
  text-transform: uppercase;
  padding: 0px 0px 20px 0px;
}
.welcome__subtitle {
  color: #ffffff;
  font-family: "Roboto Slab";
  font-size: 20px;
  font-weight: 400;
  padding: 0px 0px 30px 0px;
}
.service {
  padding: 100px 0px;
}
.service__top {
  text-align: center;
  margin: 0px 0px 70px 0px;
}
.service__row {
  display: flex;
  font-size: 0;
  justify-content: space-between;
  margin: 0px -10px;
}
.service__collumn {
  margin: 10px;
}

.card {
  text-align: center;
}
.card__icon {
  margin: 0px 0px 30px 0px;
}
.card__title {
  color: #555555;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0px 0px 25px 0px;
}
.card__subtitle {
  color: #555555;
  font-family: "Roboto Slab";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.about {
  background-color: #f8f8f8;
  padding: 100px;
}
.about__top {
  text-align: center;
  margin: 0px 0px 70px 0px;
}
.about__row {
  display: flex;
  font-size: 0;
  justify-content: space-between;
  margin: 0px 0px 70px 0px;
}
.about__column {
  width: calc(100% / 2 - 16px);
}
.about__text {
  color: #555555;
  font-family: "Roboto Slab";
  font-size: 14px;
  font-weight: 400;
}

.users__row {
  display: flex;
  font-size: 0;
  justify-content: space-between;
}
.users__col {
  text-align: center;
}

.user__image {
  position: relative;
  margin: 0px 0px 30px 0px;
}
.user__image:hover .user__hover {
  height: 100%;
  opacity: 1;
}
.user__image img {
  max-width: 100%;
}
.user__hover {
  transition: all 0.3s ease 0s;
  width: 100%;
  height: 0%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.45);
  position: absolute;
  opacity: 0;
}
.user__social {
  width: 100%;
  top: 0;
  left: 0;
}
.user__name {
  color: #555555;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0px 0px 15px 0px;
}
.user__job {
  color: #555555;
  font-family: "Roboto Slab";
  font-size: 13px;
}

.btn {
  display: inline-block;
  padding: 18px 35px;
  border-radius: 2px;
  border: 2px solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  background: transparent;
}
.btn.fw {
  width: 100%;
}

input[type=text], input[type=email], input[type=tel], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}
textarea.input {
  resize: none;
  padding: 0px 0px;
}

.shown {
  position: relative;
  /* .shown__label */
}
.shown__input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 0px 10px 10px;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  outline: none;
  font-size: 18px;
}
.shown__input:focus {
  border-bottom: 1px solid #1a73a8;
}
.shown__input:focus ~ .shown__label, .shown__input:not(:placeholder-shown) ~ .shown__label {
  top: -18px;
  font-size: 12px;
  color: #e0e0e0;
}
.shown__label {
  transition: all 0.3s ease 0s;
  position: absolute;
  top: 0px;
  left: 10px;
  font-size: 18px;
  color: #9e9e9e;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.ibg img {
  display: none;
}

.lock {
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

#map {
  width: 100%;
  height: 100%;
}

.anim-cross:hover:before {
  width: 100%;
}
.anim-cross:before {
  transition: all 0.4s ease 0s;
  content: "";
  position: absolute;
  top: 50%;
  margin: -0.75px 0px 0px 0px;
  left: 0;
  height: 1.5px;
  width: 0;
  background-color: #ffffff;
}

.shared-block__title {
  color: #555555;
  font-size: 20px;
  text-transform: uppercase;
  position: relative;
  padding: 0px 0px 25px 0px;
  display: inline-block;
  margin-bottom: 70px;
}
.shared-block__title:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50px;
  height: 2px;
  background-color: #555555;
  margin-left: 0px;
  transform: translateX(-50%);
}
.shared-block__subtitle {
  color: #555555;
  font-family: "Roboto Slab";
  font-size: 16px;
}